body {
    margin: 0;
    padding: 0;


}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

ul {
    list-style: none;


}


/**************************
        Universal 
**************************/




/**************************
        Header
**************************/



header {
display: flex;
justify-content: center;
width: 100%;
height: 850px;
background: linear-gradient(#161616, transparent 90%),
            linear-gradient(0deg, #fff, transparent),
            #ffa949 url("header.jpg") no-repeat center;

background-size: cover;



}


.hh {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 5em;
    
    text-shadow: 0px 3px 0px #b2a98f,
    0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1);
    

}


/**************************
        Header Ends
**************************/


/**************************
        Content
**************************/

.about {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 8em;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
  
 

}



.box1 {
width: 500px;
height: 200px; 

margin: 0 auto;
border-radius: 25px;
text-align: center;
overflow: scroll;
border: 1px solid;
padding: 10px;
box-shadow: 5px 10px #888888;


}


.bajs {
    width: 500px;
    height: 200px; 
    border: 1px solid;
    padding: 20px;
    box-shadow: 5px 10px #888888;
    margin: 0 auto;
    overflow: scroll;
    text-align: center;
    border-radius: 25px;
    
    
    
}
.sidebar {
  margin-bottom: 200px;
  text-align: center;



}


.hbox1 {
    text-align: center;
}

button {
    
    
    margin: 50px;
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #484B48;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #161616;
    
  }
  
  button:hover {background-color: #A7F5A7}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  .fotobox {
    width: 80%; 
    height: 500px; 
    border: 2px solid black;
    background-image: url("pontus.jpg");
    background-size: cover;
    margin: 0 auto;


  }

  #cool {
    font-family: 'Montserrat', sans-serif;

  }






  /**************************
        Content ENDS
**************************/

/**************************
        Footer
**************************/


footer {

width: 100%;
position: fixed;
bottom: 0;
height: 50px;
background-color: black;
color: white;


}

.footerul {
   text-align: center;
  
   
}

.fab.fa-facebook-square:hover{
    color: blue;
    font-size: 20px;
  }
  
  /*LightBlue color for Instagram*/ 
  .fab.fa-twitter-square:hover{
    color: #ADD8E6; 
    font-size: 20px;
  }
  
   
  /*Instagram Logo Dark Blue*/
  .fab.fa-instagram:hover{
    color:#125688;
    font-size: 20px;
  }




/**************************
        Media Query
**************************/

@media screen and (max-width: 699px) and (min-width: 520px) {
 header,
 #wrapper {
  display: flex;
  flex-wrap: wrap;
 }

}


@media screen and (max-width: 469px) and (min-width: 320px) {
  header,
  #wrapper {
   display: flex;
   flex-wrap: wrap;
  }
  .about {
    font-size: 80px;

  }
  
 
}

/**************************
        /Media Query
**************************/